html,
body {
    background: #3a75bc;
    font-family: "Lato", sans-serif;
    font-size: 100%;
    
    margin: 0 auto;
    color: white;
}
h1,
h2,
h3,
h4,
h5 {
    margin: auto;
    font-size: 4.5vh;
}
ul {
    list-style: none;
    padding-bottom: 1%;
    margin-bottom: 2%;
}
.grid * {
    width: 100%;
    box-sizing: border-box;
    
}

.row:before,
.row:after {
    content: "";
    clear: both;
    display: table;

}
.row{
    width: 100%;
    
}


[class*='col-'] {
    
    min-height: 0.1%;
    width: 16.66%;
    content: "";
  float: left;
}


.col-100 {
    width: 100%;
    
}
.col-33 {
    width: 33.33%;
}
.col-66 {
    width: 66.66%;
}
.col-50 {
    width: 50%;
}
.col-50 p {padding: 5%;
margin: auto;
    font-size: 70%;
    
}
.col-50 ul {padding: 5%;
margin: auto;
    font-size: 70%;
    margin-bottom: 5%;

}

.col-50 h2{
    margin-bottom: 2%;
    
    padding: 2%;
}
.col-50 h3{
padding-bottom: 1%;
}

.col-25 {
    width: 25%;
}





header {
    height: 79vh;
background: white;
    color: #1b5eae
}
header p{padding: 2%}
.box{
    
    padding: 2%;
    width: 90%;
margin: auto;
    border: solid;
    border-radius: .5em;
    margin-top: 2%;
    margin-bottom: 2%;
}
header h3{
position: absolute;
    bottom: 0;
    width: 100%;
}
nav {
    text-align: center;
    font-size: 100%;
    color: white;
    background: #1b5eae;
    height: 3vh;
   
}
nav a:link,
a:visited {
    text-align: center;
    
    text-decoration: none;
    font-size:120%;
}
nav a:hover {
    background: #0b4489;
    color: white;
}
a {
    color: inherit;
    text-decoration: none;
}
footer {
    font-size: 2vh;
    background: #0b4489;
    width: 100%;
    color: white;
    text-align: center;
    height: 8.8em;
}