html {
    background-image: url(img/wall.jpg);
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
}
h1,
h4,
img {
    text-align: center;
}
nav a {
    font-size: 125%;
}
a {
    color: white;
    font-size: 100%;
}
nav {
    text-align: center;
}
p {
    text-align: left;
}
p.footer-text {
    text-align: center;
}
section.container {
    text-align: center;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
}
header,
section,
footer {
    font-family: "Lato", sans-serif;
    color: white;
    border: black solid 1%;
    padding: 1%;
}
header {
    background: black;
    margin-bottom: 1%;
    margin-top: 1%;
    opacity: 0.8;
}
section {
    margin: 0 auto;
    background: black;
    margin-bottom: 1%;
    opacity: 0.85;
    padding-left: 2%;
}
footer {
    background: black;
    opacity: 0.7;
    margin: 0 auto;
    margin-top: 1%;
    padding-left: 2%;
}
.img {
    max-width: 50%;
}
.portrait {
    max-width: 30%;
}
img.larger {
    width: 80%;
}