html{
    background-image: url(img/wall.jpg);
no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    color: white;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    width: 70%; 
	margin: 0 auto; 
}

h1,h4,img{
    text-align: center;
}

nav a { 
        font-size:26px;
}
a{
    color: white;
    font-size: 18px;
}

nav {
    text-align:center;
}
p{
    text-align: left;
}
p.footer-text{text-align: center;   
}
section.container{text-align: center;
margin: 0 auto;
text-align: center;
margin: 0 auto;
margin-bottom: 5px;
    
}
header,section,footer{

    font-family: "Lato",sans-serif;
    color:white;
    border: black solid;
    border-radius: 5px;
}

header{

    background: black;
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 0.8;
}
section{
margin: 0 auto;
    background: black;
    margin-bottom: 5px;
    opacity: 0.95;
}
footer{
    background: black;
    opacity: 0.8;
margin: 0 auto;
    margin-top: 5px;
}
img{
width: 35%;
}
img.larger{

width: 80%;
}